<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Add Income / Expense</h4>
                <p class="card-description">
                    Specify description and quantity
                </p>

                <form>

                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" placeholder="Description" name="description">
                    </div>

                    <div class="form-group">
                        <label>Quantity</label>
                        <input type="number" class="form-control" placeholder="Quantity" name="quantity">
                        <p>
                            Quantity should be positive
                        </p>
                    </div>

                    <div class="form-group">
                        <label>Type</label>
                        <br>
                        <button type="button" class="btn btn-primary btn-block">Income</button>
                        <!-- <button type="button" class="btn btn-warning btn-block">Expense</button> -->
                    </div>

                    <hr>
                    <button type="button" class="btn btn-success mr-2">
                <i class="fa fa-save"></i>
                Add
              </button>

                    <!-- 
                <button disabled class="btn btn-success mr-2">
                  <i class="fa fa-spin fa-sync"></i>
                  Processing...
                </button> 
              -->

                    <button type="reset" class="btn btn-light">Cancel</button>

                </form>
            </div>
        </div>
    </div>
</div>