<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Details about incomes and expenses</h4>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Description</th>
                            <th>Quantity</th>
                            <th>Type</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>Description</td>
                            <td>Quantity</td>
                            <td>Type</td>
                            <td>actions</td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>